extends layout
block scripts
	script(src='/bower_components/angular/angular.js')
	script(src='/bower_components/angular-route/angular-route.js')
	script(src='/bower_components/angular-bootstrap/ui-bootstrap.js')
	script(src='/bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
	script(src='/features/letters/controllers.js')
	script(src='/javascripts/app.js')
block content
	nav.navbar.navbar-inverse.navbar-fixed-top
		div.navbar-header
			a.navbar-brand(href='#') <b>docflow</b>
		ul.nav.navbar-nav
			li.dropdown
				a.dropdown-toggle(data-toggle='dropdown',href='#')
					| წერილები
					b.caret
				ul.dropdown-menu
					li
						a(href='/#/letters') ყველა წერილი
					li
						a(href='/#/letters/new') ახალი წერილი
		form.navbar-form.navbar-right(method='POST',action='/api/logout')
			input.btn.btn-default(type="submit",value='Logout')
	div.container
		div(ng-view)