extends layout
block content
	nav.navbar.navbar-inverse.navbar-fixed-top
		div.navbar-header
			a.navbar-brand(href='#') Geo Hospital
		ul.nav.navbar-nav
			li.active
				a(href='#/page1') Page 11
			li
				a(href='#/page2') Page 22
			li
				a(href='#/page3') Page 33
		form.navbar-form.navbar-right(method='POST',action='/api/logout')
			input.btn.btn-default(type="submit",value='Logout')
	div.container
		h1 #{user.role}