doctype 5
html(ng-app='docflow-app')
	head
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet',href='bower_components/bootstrap/dist/css/bootstrap.min.css')
	body
		block content
		block scripts