extends layout
block content
	div.container
		div.row
			div.col-md-4.col-md-offset-4
				div.panel.panel-default
					div.panel-heading
						h3.panel-title.text-muted გთხოვთ გაიაროთ ავტორიზაცია
					div.panel-body
						p.text-danger #{message}
						form(accept-charset='UTF-8',role='form',method='POST',action='/api/login')
								div.form-group
									input.form-control(placeholder="მომხმარებელი",name="username",type="text")
								div.form-group
									input.form-control(placeholder="პაროლი",name="password",type="password",value="")
								div.checkbox
									label
										input(name="rememberme",type="checkbox")
										| დამიმახსოვრე
								input.btn.btn-lg.btn-success.btn-block(type="submit",value="შესვლა")